:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --address-futer-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --futer-backgraund-color: #2f303a;
  --texts-backgraund-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

/* ------------общие настройки------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.lists {
  list-style: none;
}

/*---------------- header------------------- */

.logo.nav-link {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.dinamic {
  color: var(--accent-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-portfolio {
  padding-top: 24px;
}

.site-nav.list {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.auth-nav.list {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.accent {
  color: var(--primary-text-color);
}

/* ----------------hero--------------------- */

.hero {
  text-align: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--futer-backgraund-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: #2f303a;
}

.more-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
  min-width: 200px;
}

.more-link:hover,
.more-link:active {
  color: #212121;
  text-decoration: none;
}

/* --------------- portfolio button------------------ */

.section-button {
  padding-top: 94px;
}

.item-nav .item-btn + .item-btn {
  margin-left: 8px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--button-background-color);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  border: none;
  min-width: auto;
}

.filter-button:focus,
.filter-button:hover {
  color: var(--white-color);
  background-color: var(--texts-backgraund-color);
  border-radius: 4px;
}

.btn {
  margin-left: 295px;
}

.item-nav.list {
  display: flex;
  margin-bottom: 50px;
}

/* -----------------portfolio====----------- */

.portfolio {
  padding-top: 34px;
  padding-bottom: 94px;
}

.portfolio-title-text {
  padding: 20px 24px 20px 24px;
}

.title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}
.portfolio-link {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-right: 30px;
} */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-link:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-link:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-img {
  margin-top: 0;
  margin-bottom: 20px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* -----------worth достоинства-------------- */

.worth-list .items {
  min-width: 270px;
}

.worth-list {
  display: flex;
}

.items + .items {
  margin-left: 30px;
}

.worth {
  padding: 94px 215px 94px 215px;
}

.worth-title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.worth-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* ------images чем мы занимаемся------------ */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.images-list {
  display: flex;
}

.team-link:not(:last-child) {
  margin-right: 30px;
}

.images {
  padding-top: 0;
  padding-bottom: 94px;
}

/* --применяется так же к h2 team------ */
.images-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

/* ---------------team----------------------- */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-background-color);
}

.team-list {
  display: flex;
}

.images-item:not(:last-child) {
  margin-right: 30px;
}

.team-img {
  margin-top: 0;
  margin-bottom: 30px;
}

.team-title-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* ----------------footer-------------------- */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--futer-backgraund-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.accents {
  color: var(--white-color);
}

.footer-link {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-nav {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-futer-color);
}
.auth-navs.list:not(:last-child) {
  margin-bottom: 9px;
}

.list .nav-link {
  text-decoration: none;
}

/* -----invisible невидимый заголовок-------- */

.invisible {
  opacity: 0;
  font-size: 0px;
  line-height: 0px;
  display: none;
  color: transparent;
  visibility: hidden;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.nav-links:hover,
.nav-links:focus {
  color: var(--primary-text-color);
  text-decoration: none;
}

/*  */
/* цвет основного массива текста #212121 */
/* вторичный текст #757575 */
/* синий цвет акцент  #2196F3 */
/* белый F#FFFFF */
/*  rgba(255, 255, 255, 0.6  */
/* background: #F5F4FA; */
/* background: #2f303a; footer */
